img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  height: 150px;
  display: flex;
}
