.logIn_content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
}

.login_title h1{
  text-align: center;
  font-size: 36px;
}

.logIn_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}


.logIn_form button{
  margin-top: 40px;
  width: 15%;
}


